# Ignore Forge-Files
.gradle
.settings
build
bin

#  Ignore all Eclipse-Files except Run-Configurations
.classpath
.project
eclipse

# Ignore FML readme
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
LICENSE-fml.txt
forge-*-changelog.txt
CREDITS-fml.txt